body, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.3rem;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    color:
}

i {
    font-size: 24px;
}

h1 {
    margin-top: 4rem;
    font-size: 2.0rem;
    line-height: 2.5rem;
    font-weight: 700;
    color:hsl(217, 19%, 35%);

}

h2 {
    font-weight: 700;
    color:hsl(217, 19%, 35%);
}

p {
    line-height: 2.2rem;
    color:hsl(212, 23%, 69%);
    
}


/* Central area */


.container {
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central {
    width:73rem;
    height:28rem;
    border-radius: 2rem;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.image {
    width:28.5rem;
    height: 100%;
    
}

.image > img {
    width:auto;
    height:100%;
    border-radius: 2rem 0 0 2rem ;
   
       
}

.review {
    background-color: white;    
    position: relative;
    z-index: 1;
    border-radius: 0 2rem 2rem 0;
}

.review > * {
    max-width: 80%;
    margin: auto;
    
}

.card {
    display: flex;   
    justify-content: flex-start; 
    height: 4rem;
    width: 100%;
    margin-top: 1.5rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.card > img:first-child {   
    float:left;
    width:auto;
    height: 100%;
    border-radius: 2rem;   
    
}

.card  h2 {
    padding-top: 0.2rem;
}

.card-image {
    margin-left: auto;
    display: flex;
    width:4rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .card-image:hover > img {
    filter:brightness(100%);
    
} */

.bck:hover {
    background-color:#6D7F97;
}

.bck:hover >img {
    filter: brightness(100);
}

.bck {
    background-color:#F0F3FA;
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.7rem;
}


.drop-down {
    display: none;
    width:25rem;
    position: absolute;
    top:-7.5rem;
    background-color:#49556B;
    height:5.5rem;
    border-radius: 2rem;
    overflow: visible;
}

.drop-down-inside {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.drop-down-inside > p{
  letter-spacing: .5rem;

}

.drop-down-inside > a{
    padding-left:1rem;
  
  }

.square {
    width:20px;
    height:20px;
    background-color: #49556B;    
    position: absolute;
    z-index: -1;
    bottom:0;
    right: 50%;
    transform: rotateZ(45deg) translateX(50%);

    
}


.visibility {
    display: block;
}



.card-image > img {       
    width:auto;
    height:1.5rem;
    background-color:#F0F3FA;
    padding:1rem;
    border-radius: 1.7rem;
    

}



.flexed {
    float:left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-left: 1rem;
    
}

.flexed > p {
    margin-top: 0.3rem;
}



.review-person {
    margin-top: 1.5rem;
}

.card img:last-child {
    float:right;
}

.footer-resp {
    display: none;
    position: absolute;
}



@media screen and (max-width:725px){
    
    html {
        font-size: 55%;
    }


    .central {
        width:90%;
        height:auto;
        border-radius: 2rem;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .image {
        width:100%;
        height: auto;
        
    }
    
    .image > img {
        width:100%;
        height:auto;
        border-radius: 2rem 2rem 0 0 ;
       
           
    }

    .review {
        
        border-radius: 0 0 2rem 2rem;
    }

    .card-image {
        position: static;
        margin-top: 1rem ;
    }

    
    .card {
    display: flex;   
    justify-content: flex-start; 
    height: 4rem;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    }
    

    .drop-down {        
        width:100%;
        position: absolute;
        bottom:0;
        top:auto;
        left:0;
        background-color:#49556B;
        height:6.5rem;
        border-radius: 2rem;
        overflow: visible;
        margin: auto;
    }

    .square {
        display: none;
    }

    .bck {
        z-index: 2;
    }

    .drop-down-inside {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
    }

    .drop-down-inside > a {
        padding-left: 2rem;
    }

    p {
        padding-left: 4rem;
    }
    

    

}